.App {
    position: relative;
}

.screen1 {
    position: absolute;
}

.focus {
    background: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%)
}

.priority {
    @apply h-[2rem] w-[10rem] rounded-full outline-none font-bold;
    border: 2px solid;
    border-image: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%) 5;
    border-radius: 50px;
}